{% load custom_filters %}
<button onclick="ShowComment()">add comment</button>
<form method="post" style="display: none;" id="addComment">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Comment</button>
</form>


{% if thread.comments.exists %}
    {% for comment in thread.comments.all %}
        {% if comment.parent_comment %}
            <p id="reply">{{ comment.parent_comment.text }}</p>
        {% endif %}
        <p id="time_create">{{ comment.time_create }}</p>
        <p id="author">{{ comment.author }}:</p>
        <p>{{ comment.text }}</p>
        {% if user.is_authenticated and user == comment.author %}
            <button onclick="ShowEditCommentForm()">Edit</button>
            <form method="post" action="{% url 'edit_comment' thId=thread.pk commentId=comment.pk %}" style="display: none;" id="editComment">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save Changes</button>
            </form>
            <form method="post" action="{% url 'delete_comment' thId=thread.pk commentId=comment.pk %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        {% endif %}
        <button class="replyButton" onclick="ShowCommentReply('{{ comment.pk }}')">Reply</button>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'like_comment' thId=thread.pk %}">
                {% csrf_token %}
                <input type="hidden" name="like_type" value="like">
                <input type="hidden" name="comment_id" value="{{ comment.pk }}">
                <button type="submit">Like</button>
            </form>
            <form method="post" action="{% url 'like_comment' thId=thread.pk %}">
                {% csrf_token %}
                <input type="hidden" name="like_type" value="dislike">
                <input type="hidden" name="comment_id" value="{{ comment.pk }}">
                <button type="submit">Dislike</button>
            </form>
        {% endif %}
        <p>Likes: {{ comment_likes|get_item:comment.pk }}</p>
        <p>Dislikes: {{ comment_dislikes|get_item:comment.pk }}</p>
    {% endfor %}
{% else %}
    <p id="Nocomments">No comments</p>
{% endif %}

<script>
function ShowEditCommentForm(){
    id = document.getElementById('editComment');
    if (id.style.display === "none"){
        id.style.display = "block";
    }
    else{
        id.style.display = "none";
    }
}
</script>