{% extends 'main/layout.html' %}

{% block title%}New thread{% endblock %}

{% block content%}
    <div class="newThread">
        <form action="{% url 'newThread' %}" method="post">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label for="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">Post this</button>
        </form>
    </div>
{% endblock%}