{% extends 'main/layout.html' %}

{% block title%}Threads{% endblock %}

{% block content%}
<a href="{% url 'main' %}">on mainmainmain</a>

    {% for el in threads%}
        <div class="threads">
            <h3>{{el.title}}</h3>
            <p>{{ el.full_text|truncatewords:50 }}</p>
            <div style="text-align: right;">
                <a class="btn btn-primary btn-sm" href="{% url 'thread' thId=el.id %}">Перейти до thread</a>
            </div>
        </div>
    {% endfor%}
    
    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page= {{ page_obj.previous_page_number }}">&lt;</a>
                    </li>
                {% endif %}
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num page-num-selected">pagepagepage{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li class="page-num">
                            <a href="?page={{ p }}">pagepagepage = {{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page= {{ page_obj.next_page_number }}">&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock%}