{% extends 'main/layout.html' %}

{% block title%}{{thread.title}}{% endblock %}

{% block content%}

    <div class="thread">
        <h1>{{thread.title}} by {{thread.user}}</h1>
        <button id="Edit" onclick="EditThread()">Edit</button>
        <p>{{thread.full_text|linebreaks}}</p>
        <div id="EditForm" style="display: none;">
            <input type="text" placeholder="{{thread.title}}">
            <textarea name="" id="" cols="165" rows="15">{{thread.full_text}}</textarea>
            <button>Apply</button>
        </div>
        <div class="comment">
            <button id="addCommentButton" onclick="showComment()">Add comment</button><br>
            {% if thread.comments.exists %}
                {% for comment in thread.comments.all %}
                    {% if comment.parent_comment %}
                        <p id="reply">{{ comment.parent_comment }}</p>
                    {% endif %}
                    <p id="author">{{ comment.user }}:</p>
                    <p>{{ comment.text }}</p>
                    <button class="replyButton" onclick="showComment()">Reply</button><br>
                {% endfor %}
            {% else %}
                <p id="Nocomments">No comments</p>
            {% endif %}
            <div id="commentForm" style="display: none;">
                <textarea id="commentText" cols="162" rows="5"></textarea><br>
                <button id="postCommentButton">Post Comment</button><br>
            </div>
        </div>
    </div>

{% endblock%}