{% extends 'main/layout.html' %}

{% block title%}Threads{% endblock %}

{% block content%}
    <div class="threads-page">
        <div class="search-bar">
            <form method="get" action="">
                <label for="order_by">Sort by:</label>
                <select name="order_by" id="order_by">
                    <option value="-time_create" {% if request.GET.order_by == '-time_create' %}selected{% endif %}>Time created (Newest First)</option>
                    <option value="time_create" {% if request.GET.order_by == 'time_create' %}selected{% endif %}>Time created (Oldest First)</option>
                    <option value="title" {% if request.GET.order_by == 'title' %}selected{% endif %}>Title (A-Z)</option>
                    <option value="-title" {% if request.GET.order_by == '-title' %}selected{% endif %}>Title (Z-A)</option>
                </select>
                <label for="search_text">Search:</label>
                <input type="text" name="search_text" id="search_text" value="{{ request.GET.search_text }}">
                <button type="submit" class="btn btn-dark">Search</button>
            </form>
        </div>

        {% if request.GET.search_text %}
            <a href="{% url 'threads' %}">Back to Threads</a>
        {% endif %}

        {% for el in threads%}
            <div class="threads">
                <h3>{{el.title}} by {{el.author}}</h3>
                <p>{{ el.full_text|truncatechars:500|linebreaks|truncatewords:50 }}</p>
                <div style="text-align: right;">
                    <a class="btn btn-dark btn-sm" href="{% url 'thread' thId=el.id %}">more</a>
                </div>
            </div>
        {% endfor%}
        <br>
        
        <nav class="pagination-container">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a class="pagination-newer" href="?page={{ page_obj.previous_page_number }}">PREV</a>
                {% endif %}
                <span class="pagination-inner">
                    {% for p in paginator.page_range %}
                        {% if page_obj.number == p %}
                            <a class="pagination-active" href="?page={{ p }}">{{ p }}</a>
                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <a href="?page={{ p }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                </span>
                {% if page_obj.has_next %}
                    <a class="pagination-older" href="?page={{ page_obj.next_page_number }}">NEXT</a>
                {% endif %}
            </div>
        </nav>
        
    </div>
{% endblock%}