{% extends 'main/layout.html' %}

{% block title%}
{{ user.username }}
{% endblock %}

{% block content %}

<a href="{% url 'profile' %}">back</a><br>
<div class="edit_profile">
    <form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor%}
        <button type="submit" class="btn btn-dark" id="btn">Save Changes</button>
    </form>
</div>

{% endblock %}