{% extends 'users/base.html' %}

{% block content %}
    <div class="login">
        <form method="post">
            {% csrf_token %}
            
            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor%}

            <button type="submit">Log in</button>
        </form>

        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}

    </div>
{% endblock %}