{% extends 'main/layout.html' %}
{% load static%}
{% block title%}
{{ user.username }}
{% endblock %}

{% block content %}

<div class="profile">
    <a href="{% url 'main' %}">On main</a><br>
    <a href="{% url 'edit_profile' %}">Edit</a>
    <h1>name: {{ user.username }}</h1>
    <p>about: {{ user.additional_info }}</p>
    
    {% if user.gender == 'F' %}
        <p>Sex: Female</p>
    {% elif user.gender == 'M'%}
        <p>Sex: Male</p>
    {% else %}
        <p>Sex: Other</p>
    {% endif%}

    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s Avatar">
    {% else %}
        <img src="{% static 'main/img/user.png' %}" alt="{{ user.username }}'s Avatar">
    {% endif %}
    <br>
<!-- 
    if threads:
    <ul>
        <li></li>
    </ul>

    if comment:
    <ul>
        <li></li>
    </ul> -->

</div>

{% endblock %}