{% extends 'main/layout.html' %}
{% load static%}
{% block title%}
{{ user.username }}
{% endblock %}

{% block content %}

<div class="profile">
    
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" class="avatar">
    {% else %}
        <img src="{% static 'main/img/user.png' %}" class="avatar">
    {% endif %}

    <div class="about">
        <p>Name: {{ user.username }}</p>        
        <p>Email: {{ user.email}}</p>

        <p>Sex: 
            {% if user.gender == 'F' %}
                Female
            {% elif user.gender == 'M'%}
                Male    
            {% else %}
                Other
            {% endif%}
        </p>

        <p>Registration date: {{user.registration_date}}</p>
        <p>Date of birth: {{user.date_of_birth}}</p>

        {% if user.additional_info != '' %}
            <p>Additional info: <textarea name="" id="" cols="100" rows="10" readonly>{{ user.additional_info }}</textarea></p>
        {% endif%}

    <a href="{% url 'edit_profile' %}">Edit Profile <i class="fas fa-pencil-alt"></i></a>

    </div>
</div>

{% endblock %}