.sidebar {
    position: fixed;
    float: left;
    top: 0;
    width: 5.5vh;
    height: 100vh;
    background-color: aqua;
    padding: 8px;
    color: #4d4d4d;
    overflow: hidden;
    overflow-y: auto;
}

.sidebar ul li {
    list-style: none;
}

.sidebar button {
    transform: rotate(90deg);
}

.topbar {
    padding-left: 80vh;
    padding-top: 20px;
}

.threads {
    word-wrap: break-word;
    margin-left: 35vh;
    margin-top: 2%;
    width: 1050px;
    border: 5px solid #602424;
    padding: 10px;
}

.threads h3 {
    display: flex;
    justify-content: center;
}

.threads p {
    text-indent: 20px;
}

.thread {
    word-wrap: break-word;
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 2%;
}

.thread h1 {
    display: flex;
    justify-content: center;
}

.comment {
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid salmon;
}

.comment #reply{
    background-color: aliceblue;
    margin-left: 20px; 
    font-style: italic;
}

.comment #Nocomments {
    display: flex;
    justify-content: center;   
}

.newThread {
    margin-top: 10vh;
    margin-left: 30vh;
}

.comment #author{
    font-style: italic;
}

